.container {
  width: 100%;
  margin: 12px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 12px;
  color: #c2a090;

  & svg {
    width: 22px;
  }
}
