.dashboard {
  background-color: #1d1b26;
  background-image: url(../../assets/images/space.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
  color: #fff;
  line-height: 64px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.image {
  width: 90%;
  max-width: 540px;
  height: auto;
}

@media (max-width: 768px) {
  .footer {
    position: static;
    bottom: 0;
    width: 100vw;
  }
}
