.title{
  padding: 16px ;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  text-align: right;

  color: #C2A090;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titleIcon{
  width: 48px;
  height: 48px;
  padding-top: 6px;
}
.container{
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    height: 305px;
    left: 9px;
    top: 166px;
    color: red;
    background: #757575;
    border-radius: 25px;
  }
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px;
  @media (max-width: 768px) {
    padding-bottom: 100px;
  }
}
.status{

  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 8px;
  justify-self: center;

  width: 90%;
  min-width: 300px;
  margin:42px auto;
  color: white;
  border: 1px solid #C2A090;
  border-radius: 62px;
  :hover{
    background-color: #9E8379
  }
}
.status_container{
  padding: 32px;

  @media (max-width: 768px) {
    padding: 0;
  }
}