.dashboardChildContainer{
    width: 100%;
    display: flex;
    justify-content: center;

    height: 100%;
    overflow-y: auto;
}

.layoutTitle{
    color: #C2A090;
    display: flex;
    align-items: center;

    margin-top: 80px;
    width: 100%;

    span{
        font-weight: 700;
        margin-right: 10px;
        font-size: 36px;
    }

    svg{
        width: 30px;
        height: 30px;
    }
}

.tab-panel{
    align-self: flex-start;
    width: 100%;
}

.intro{
    background-color: #C2A090;
    font-size: 18px;
    padding: 10px 0px;

    width: 90%;
    max-width: 1200px;
    text-align: center;

    margin: 40px 0px;
    border-radius: 40px;
    font-weight: 700;
}

.panel{
    width: 90%;
}

.historyIntro{
    padding-top: 40px;
    width: 100%;
    border-top: 2px solid black;

    font-size: 24px;
    color: #C2A090;
    font-weight: 700;
}

.tabsContainer{
    background-color: transparent;
    width: 90%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: none;
    button{
        font-size: 24px;
        color: white;
        font-weight: 700;
    }
}

.classes-state-root.selected {
    color: white;
}

@media only screen and (max-width:768px){ 
    .intro{
        margin: 20px 0px;
    }
}
