html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

#__next {
  position: absolute;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

fieldset {
  border: 0;
}

legend {
  font-size: 1.25rem;
  font-weight: 700;
}
