html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

#__next {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.MuiFormHelperText-root {
  position: absolute;
  top: 6vh;
  text-align: right;
  font-size: 1.5vh;
  margin: 0 1vw;
  line-height: 2vh;
}

input:-webkit-autofill {
  padding: 0 14px;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

input.settings-page-input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #1d1b26 inset !important;
  -webkit-text-fill-color: #bf846b !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

fieldset {
  border: 0;
}

legend {
  font-size: 1.25rem;
  font-weight: 700;
}
