@import "normalize";
@import "fonts";
@import "typography";
@import "base";
@import "variables";

.Toastify__toast-body {
  font-family: "iransans";
  direction: rtl;
}

.MuiTooltip-tooltip {
  color: #1d1b26;
  background-color: #908f98;
  font-size: 16px;
}
