.container {
  padding: 17px 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: auto;
  height: 100%;
}

.tab-panel {
  align-self: flex-start;
}

.tab-panel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
