.dashboardChildContainer{
    width: 100%;
    display: flex;
    justify-content: center;

    height: 100%;
    overflow-y: auto;
}

.codeReviewLayout{
    display: flex;
    justify-content: center;

    width: 100%;

    div{
        color: white;
    }
}

.layoutTitle{
    color: #C2A090;
    display: flex;
    align-items: center;

    margin-top: 80px;
    width: 100%;

    span{
        font-weight: 700;
        margin-right: 10px;
        font-size: 36px;
    }

    svg{
        width: 30px;
        height: 30px;
    }
}

.tabsContainer{
    background-color: transparent;
    width: 90%;
    margin-top: 40px;

    box-shadow: none;
    button{
        font-size: 20px;
        color: white;
        font-weight: 700;

        border-radius: 40px;

        &:hover{
            background-color: rgba(0,0,0,0.2);
        }
    }
}

@media only screen and (max-width:768px){    
    .layoutTitle{
        margin-top: 40px;
        span{
            font-size: 24px;
        }
        svg{
            width: 20px;
            height: 20px;
        }
    }
}