.sponsorPage {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-image: url(../../assets/images/space.png);
  background-size: cover;
  min-height: 100vh;
}

.title {
  font-size: 48px;
  margin: 64px 0 12px;
  font-weight: 600;
  text-align: center;
}

.sponsors {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsorContainer {
  background-color: rgba(203, 203, 203, 0.1);
  backdrop-filter: blur(50px);
  padding: 32px;
  width: calc(100% - 32px);
  max-width: 1224px;
  margin: 32px 0;
  border-radius: 8px;
}

.sponsorName {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.sponsorContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsorDescription {
  font-size: 18px;
  line-height: 32px;
}

//mobile design
@media (max-width: 768px) {
  .title {
    margin: 32px 0;
    font-size: 32px;
  }

  .sponsorContent {
    flex-direction: column;
  }

  .sponsorImage {
    margin-top: 16px;
  }
}
