.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0 0;
  color: #908f98;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1224px;
}

.socialItem {
  color: #cbcbcb;
}
.socialIcon {
  font-size: 40px !important;
  margin: 4px;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.ssc {
  margin-left: 16px !important;
}

.copyRight {
  margin: 16px 24px 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .footerTop {
    flex-direction: column-reverse;
  }

  .socialItems {
    margin-bottom: 16px;
  }

  .sharifLogos {
    margin-bottom: 8px;
  }

  .ssc {
    width: 105px;
    height: 52px;
  }

  .sharif {
    width: 52px;
    height: 52px;
  }
}
