.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  min-height: 100vh;
  height: fit-content;
  direction: ltr;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/auth-wallpaper.png");
}

.logo {
  cursor: pointer;
}

.logo-container {
  top: 2.5vh;
  left: 2vw;

  position: absolute;
}

.logo-container img {
  width: 5vw;
}

.inputs-box {
  border-radius: 4vh;
  margin: 9vh 0;
  background-color: rgba(203, 203, 203, 0.1);
  padding: 9vh 6vw;
  width: fit-content;
  position: relative;
  backdrop-filter: blur(50px);
}

@media only screen and (max-width: 600px) {
  .container {
    background-image: url("/auth-wallpaper-rotated.png");
  }

  .logo-container {
    top: 44px;
    left: 6vw;

    position: absolute;
  }

  .logo-container img {
    width: 17vw;
  }

  .inputs-box {
    padding: 6.5vh 8vw;
    margin: 0 9vw;
  }
}
