.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  min-height: 100vh;
  height: fit-content;
  direction: ltr;

  background-size: cover;
  background-image: url("/auth-wallpaper.png");
}

.logo-container {
  top: 28px;
  left: 40px;

  position: absolute;
}

.inputs-box {
  border-radius: 40px;
  margin: 96px 0;
  background-color: rgba(203, 203, 203, 0.1);
  padding: 100px 118px;
  width: fit-content;
}
