.avatar-container > span:nth-child(2) {
  border-radius: 50%;
}

.upload-button {
  padding: 0;
  margin: 17px 0 36px;
}

.avatar-container > span:nth-child(1) {
  position: absolute !important;
  top: 0;
}

.avatar-container {
  padding: 12px;
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
