.oauth-logos-container {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  margin-top: 16px;
  justify-content: center;
}

.oauth-logos-container button {
  height: 4vh;
  width: 4vw;
}

.oauth-container {
  text-align: center;
  font-size: 3vh;
  color: #ccb0a1;
  line-height: 4.5vh;
}

.github-login {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.github-login img {
  width: 4vw;
  height: 4vh;
}

@media only screen and (max-width: 600px) {
  .oauth-logos-container button {
    height: 9vw;
    width: 12vw;
  }

  .oauth-logos-container {
    gap: 6vw;
  }
}
