.container {
  padding: 17px 43px 17px 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  margin-left: 12px;
}

.tab-panel {
  align-self: flex-start;
}

.tab-panel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
